.chats {
    width: 100%;
    max-width: 700px;
    overflow-y: scroll;
    padding: 1rem 1.5rem 6rem;

}

.userDiv {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9rem;

}

.userMsg {
    background-color: rgb(86, 87, 88);
    border-radius: 14px;
    padding: 10px 20px;
    margin: 0.5rem 0;
    max-width: 500px;
    width: fit-content;
}

.gptDiv {
    text-align: left;
    font-size: 0.9rem;

}

.gptMsg {
    background-color: rgb(10, 10, 10);
    border-radius: 14px;
    padding: 10px 20px;
    margin: 0.5rem 0;
    max-width: 500px;
    width: fit-content;
}

.chats::-webkit-scrollbar {
    width: 8px;
}

.chats::-webkit-scrollbar-track {
    background: #0b0b0b;
    /* same as app bg */
}

.chats::-webkit-scrollbar-thumb {
    background-color: #2a2a2a;
    border-radius: 10px;
}

.chats::-webkit-scrollbar-thumb:hover {
    background-color: #3a3a3a;
}

.hljs {
    border-radius: 14px !important;
}
pre{
    white-space: pre-wrap;
}